# Server
PORT=3000
SERVICE_NAME=your-service-name
NODE_ENV=development

# Database
DATABASE_URL=prisma+postgres://localhost:51213/?api_key=your-api-key

# Auth — Internal
INTERNAL_JWT_SECRET=change-this-to-a-random-secret

# Auth — External
AUTH_SERVICE_URL=http://auth-service:4000
